body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: green;
    color: white;
    height: 30px;
    padding: 14px;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
::selection {
    background-color: green;
    color: white;
}
a:visited {
    color: lightgray;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 18px;
    min-height: calc(100vh - 60px - 35px);
}
.list {
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 140px;
    width: 140px;
    padding: 10px 50px;
}
.text {   
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 600px;
    padding: 10px 30px;
    p:first-letter {color: red;}; 
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    padding: 8px;
}
